name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches:
      - main # atau nama branch utama kamu

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "1.0.0+1" # sesuaikan dengan versi kamu

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Web
        run: flutter build web --base-href="/flutter_loak/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/web
